.chat-box-container {
  background-color: #e1f4f3;
  width: 95%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-box-container .inner-container {
  background-color: #fff;
  height: 95%;
  width: 95%;
  padding: 10px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.chat-box-container .inner-container .online-list {
  background-color: red;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
  border: 2px black solid;
  border-radius: 20px;
}

.chat-box-container .inner-container .online-list p {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.chat-box-container .inner-container .chat-container {
  border-radius: 20px;
  min-width: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
  position: relative;
}

.chat-box-container .inner-container .chat-container .message-list {
  width: 100%;
  height: calc(100% - 58px);
  padding: 10px;
  margin: 0;
  background-color: #333333;
  position: absolute;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  color: black;
}

.chat-box-container .inner-container .chat-container .chat-input {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #706c61;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-box-container .inner-container .chat-container .chat-input textarea {
  width: 100%;
  background-color: #d1c7c7;
  padding: 10px;
  margin: 0 10px 0 0;
  border-radius: 20px;
  resize: none;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.chat-box-container .inner-container .chat-container .chat-input button {
  height: 38px;
  width: 38px;
  border-radius: 100%;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.chat-box-container .inner-container .chat-container .chat-input button:hover svg path {
  fill: #c5a574;
}

.chat-box-container .inner-container .chat-container .chat-input svg {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}
