form {
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form .container {
  border-radius: 10px;
  -webkit-box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fff;
  color: black;
}

form .container .signup-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

form .container .signup-form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  max-width: 500px;
  margin: 10px 0;
  height: 45px;
  padding: 5px 15px;
  border-radius: 2px;
  outline: none;
  border: none;
  background: #e8ebed;
  color: #576366;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form .container .signup-form button {
  font-size: 15px;
  cursor: pointer;
  color: #fff;
  background-color: #333333;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}

form .form-errors {
  width: 100%;
  text-align: center;
}

form .form-errors p {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 5px 0;
  color: red;
}
